@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');

*{margin: 0;padding: 0;text-decoration: none;}

header{
  width: 100%;
  height: 90px;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
}

header nav ul{
  width: 682px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

header nav ul li{
  width: 80px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a{
  font-size: 1.1em;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -0.05em;
  color: white;
  text-transform: uppercase;
  opacity: 90%;
}

.header_bg{
  width: 100%;
  height: 90px;
  position: absolute;
  background-color: white;
  opacity: 17%;
  z-index: 90;
}

.bar{
  color: white;
  margin-top: 35px;
}

.bg{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('img/bg.png');
}

section{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main_tit{
  position: absolute;
  width: 627px;
  height: 671px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.bt_wrap{
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  bottom: 40px;
}
.btt{
  position: relative;
  width: 25%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt1{background-image: url('img/bt1.png');}
.bt2{background-image: url('img/bt2.png');}
.bt3{background-image: url('img/bt3.png');}
.bt4{background-image: url('img/bt4.png');}

.btt:hover{
  filter: contrast(150%);
  transition: 0.5s;
}
footer{
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
  z-index: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
.footer_bg{
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #6A6A6A;
  opacity: 60%;
  z-index: 500;
}

.kenburns-top{animation:kenburns-top 2s ease-out both}

@keyframes kenburns-top{0%{transform:scale(1) translateY(0);transform-origin:50% 16%}100%{transform:scale(1.25) translateY(-15px);transform-origin:top}}
